/* SVG styling */
path {
    fill: #CED8B6;
}

line {
    stroke: #555;
    stroke-width: 2px;
}

line#bestfit {
    stroke: #ddd;
    stroke-width: 10px;
}

#xAxis path, #yAxis path, #xAxis line, #yAxis line {
    stroke: #ccc;
    fill: none;
    shape-rendering: crispEdges;
}

text {
    font-size: 12px;
    fill: #888;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dot {
    stroke: #000;
    cursor:pointer;
}


div.tooltip {   
    position: absolute;         
    text-align: center;         
    width: 60px;                    
    height: 28px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}